@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --background-color: #f8f9fa;
    --font-color: #212529;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.178), 0 4px 10px rgba(0, 0, 0, 0.11);
}

body {
    background-color: var(--background-color);
    font-size: 62.5%;
}

.container {
    margin: 13em auto;
    width: 25em;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 1em;
}

.basic_info {
    width: 100%;
    height: 17em;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 2em 0 2em;
}

.dp {
    width: 90px;
    height: 90px;
    background-image: url(images/safayet.jpg);
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    top: -27%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border: var(--font-color) 0.2px solid;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.name_and_bio {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 0.8rem;
    font-weight: 700;
    margin: auto;
    color: var(--font-color);
}

.bio {
    margin: auto;
    font-size: 0.5rem;
    font-weight: 400;
    color: var(--font-color);
}

.social_info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.socials {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.socials a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.4rem;
    font-weight: 400;
    cursor: pointer;
}

.socials svg {
    height: 15px;
    width: 15px;
    fill: var(--font-color);
}

.more_info {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 1em;
}

.more_info ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0.5em;
    position: relative;
}

.indicators {
    position: absolute;
    background-color: var(--font-color);
    border-radius: 20px;
    width: 5em;
    height: 0.15em;
    bottom: 0;
    left: 0;
    transform: translateX(0.4em);

}

.more_info li {
    list-style: none;
    font-size: 0.6rem;
    font-weight: 500;
    color: var(--font-color);
    cursor: pointer;
}
