@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --background-color: #f8f9fa;
    --font-color: #212529;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.089), 0 4px 10px rgba(0, 0, 0, 0.11);
    --link-color: #045bad;
}

body {
    background-color: var(--background-color);
    font-size: 62.5%;
}

.container {
    margin: 11em auto;
    width: 25em;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 1em;
}

.basic_info {
    width: 100%;
    height: 17em;
    background-color: var(--background-color);
    border-radius: 10px;
    border: var(--font-color) 0.5px solid;
    box-shadow: var(--box-shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6em 2em 0 2em;
}

.dp {
    width: 90px;
    height: 90px;
    background-image: url(images/safayet.jp);
    background-size: cover;
    position: absolute;
    border-radius: 50%;
    top: -27%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    border: var(--font-color) 0.5px solid;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.click_container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: 5;
    transition: opacity 300ms;
}

.click_container svg {
    position: absolute;
    width: 30px;
    height: 30px;
    fill: var(--font-color);
    top: 2em;
    left: 2em;
    cursor: pointer;
    transition: transform 300ms;
}

.safayet_img {
    position: absolute;
    width: 300px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: opacity 300ms, transform 300ms;
}

.name_and_bio {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 0.8rem;
    font-weight: 700;
    margin: auto;
    color: var(--font-color);
}

.bio {
    margin: auto;
    font-size: 0.5rem;
    font-weight: 400;
    color: var(--font-color);
}

.social_info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
}

.socials {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.socials a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.4rem;
    font-weight: 400;
    cursor: pointer;
}

.socials svg {
    height: 15px;
    width: 15px;
    fill: var(--font-color);
}

.more_info {
    width: 100%;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 1em;
    border: solid var(--font-color) 0.5px;
}

.more_info header nav {
    background-color: var(--background-color);
}

.more_info ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 0.5em;
    position: relative;
}

.indicator {
    position: absolute;
    background-color: var(--font-color);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    bottom: -0.3em;
    left: 0;
    transform: translateX(0.4em);
    transition: transform 300ms, width 200ms, opacity 300ms;
    opacity: 0;
}

.more_info li {
    list-style: none;
    font-size: 0.5rem;
    font-weight: 500;
    color: var(--font-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.more_info li svg {
    height: 10px;
    width: 10px;
    fill: var(--font-color);
    opacity: 0.3;
    transition: opacity 300ms;
}

.address_svg {
    transform: scale(0.9);
}

.infos {
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: position 300ms;
}

.education {
    padding: 1em 0.5em;
    height: 10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.school_college {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link_text {
    font-size: 0.45rem;
    font-weight: 300;
    text-decoration: underline;
    color: var(--link-color);
    cursor: pointer;
}

.links h3 {
    color: var(--font-color);
    font-size: 0.5rem;
    font-weight: 600;
}

.school_college > p {
    color: var(--font-color);
    font-size: 0.5rem;
    font-weight: 300;
}

.address {
    height: 8em;
}

.others {
    height: 8em;
}
